
.serviceImg {
    border-start-end-radius: 30px;
    border-start-start-radius: 30px;
}

.serviceImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-start-end-radius: 30px;
    border-start-start-radius: 30px;
}

.serviceContent {
    padding: 30px;
    border-end-end-radius: 30px;
    border-end-start-radius: 30px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-top: none;
}

.serviceContent h3 {
    font-size: 16px;
    font-weight: 900;
    color: #324473;
    margin-bottom: 12px;
}

.serviceContent p {
    font-size: 14px;
    font-weight: 400;
    color: #324473;
}